/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

 .main_page {
  min-height: 100px;
  overflow: hidden;
 }

 #map {
  margin: 0 auto 0 auto;
  position: relative;
  padding-bottom: 65.25%;
  padding-top: 13em;
  height: 0;
  overflow: hidden;
 }

 #walking_directions {
  height: 500em;
  width: 500em;
 }

 #street_view {
  height: 500em;
  width: 500em;
 }